@font-face {
  font-family: "clear_sans_bold";
  src: url("ClearSans-Bold.woff") format("woff2"), url("ClearSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "clear_sans_medium";
  src: url("ClearSans-Medium.woff") format("woff2"), url("ClearSans-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "clear_sans_regular";
  src: url("ClearSans-Regular.woff") format("woff2"), url("ClearSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "clear_sans_thin";
  src: url("ClearSans-Thin.woff") format("woff2"), url("ClearSans-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "clear_sans_light";
  src: url("ClearSans-Light.woff") format("woff2"), url("ClearSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
