@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .text-shadow {
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    }
    .button-shadow-arq-green-600 {
      box-shadow: 4px 4px 0px #6b7774;
    }
    .button-border-arq-green-600 {
      border: 1px solid #6b7774;
    }
  }
}

body,
#root {
  height: 100%;
  width: 100%;
  position: absolute;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eff0e9;
  overflow-x: hidden;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
